// -- Common --
.h4
{
	font-weight: bold;
	font-family: $main-fontFam;
	overflow: hidden;
  	text-overflow: ellipsis; 
	hyphens: auto;
}

.btn_recordChanges
{
	position: fixed;
	left: 0;
	bottom:0;
	z-index: 10;
}

.btn_carteDelete
{
	border: 1px solid white;
	border-radius: 50%;
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	width: 48px;
	height: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	color: white;
	font-weight: bold;
	background-color: #a10d0d;
	transition: background-color 0.3s;
	&:hover
	{
		cursor: pointer;
		background-color: red;
	}
}

// -- Cartes --
.restaurant-cartes
{
	.h3
	{
		margin: 1.5rem auto 0.5rem;
		width: 100%;
		max-width: $mainCtnr-maxWidth;
		text-align: left;
		letter-spacing: 0.2rem;
		font-size: 1.2rem;
		color: $font-colorDarker;
		text-transform: uppercase;
		font-weight: bold;
	}
	.h4
	{
		margin-top: 1rem;
		text-align: center;
		font-size: 1.2rem;
		letter-spacing: 0.3rem;
	}
	.familyContainer
	{
		margin-bottom: 1rem;
		border: 2px dotted black;
		padding: 1rem;
	}
}

.carteImg
{
	position: absolute;
	top: 3px;
	left: 3px;
	width: auto;
	background-color: rgba(255, 255, 255, 0.7);
}

.readMore-container
{
	margin-bottom: 0.5rem!important;
	border: 1px dotted black;
	.readMore-content
	{
		ul
		{
			margin-bottom: 0.5rem;
		}
	}
}

input.plat
{
	width: auto;
	flex: 1;
}
input.prix
{
	max-width: 140px;
	text-align: center;
}

.newPlat
{
	border: 1px dotted grey;
}

.addCarte_btnContainer
{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	.radioFolder_container, .radioLink_container
	{
		margin-left: 1rem;
		display: flex;
		justify-content: center;
		align-items: center;
		& > span
		{
			margin-right: 0.5rem;
			border: 1px solid black;
			border-radius: 50%;
			width: 48px;
			height: 48px;
			display: inline-flex;
			justify-content: center;
			align-items: center;
		}
		.radioFolder, .radioLink
		{
			border-radius: 50%;
			width: 32px;
			height: 32px;	
		}
	}
	.radio_selected
	{
		.radioFolder, .radioLink
		{	
			background-color: $main-color;
		}
	}
	.radioFolder_container
	{
		&:hover
		{
			cursor: pointer;
			.radioFolder
			{
				background-color: $main-color;
			}
		}
	}
	.radioLink_container
	{
		&:hover
		{
			cursor: pointer;
			.radioLink
			{
				background-color: $main-color;
			}
		}
	}
}

.readMore-container
{
	.cartePdf-content
	{
		max-height: none;
	}
}

.uploadPdf
{
	width: auto;
}

.uploadPdf-container
{
	padding: 0.5rem;
	position: absolute;
	bottom: 0;
	left: 3px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.btn_platDelete
{
	border: 1px solid black;
	border-radius: 50%;
	width: 32px;
	height: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	color: white;
	font-weight: bold;
	background-color: #a10d0d;
	transition: background-color 0.3s;
	&:hover
	{
		cursor: pointer;
		background-color: red;
	}
}

.moveOrderButton
{
	padding: 1rem;
	height: 100%;
	color: white;
	background-color: $second-color;
	&:hover
	{
		cursor: grab;
	}
}

.btn_add, .moveOrderButton, .addCarte, .btn_addFam, .btn_import, .btn_addNewBrasserie
{
	border-radius: 0;
	background-color: $second-color;
	&:hover
	{
		background-color: $secondHover-color;
	}
}

.btn_addFam
{
	margin-top: 1.5rem;
	width: 100%;
}

.restaurant-cartes
{
	.importCarte_btnContainer
	{
		margin-top: 0.5rem;
	}
}

// -- Beer Project --

.beerproject-brasserie
{
	position: relative;
}

.brasserieTitle, .brasserieDate, .brasserieBeers
{
	border: 1px dotted black;
	text-align: center;
}

.brasserieDate
{
	margin-top: 0.5rem;
}

.beerproject-brasserie
{
	p
	{
		input
		{
			width: auto;
		}
	}
}

.brasserieImgInput
{
	text-align: center;
}

// agenda
textarea
{
	border: 1px dotted black;
	padding: 0.5rem;
	min-width: 365px;
	max-width: 365px;
}

.brasserieDate_open, .brasserieDate_close
{
	border: 1px dotted black;
	text-align: center;
}