.h4
{
	text-transform: uppercase;
	font-weight: bold;
	font-family: $main-fontFam;
	overflow: hidden;
  	text-overflow: ellipsis; 
	hyphens: auto;
}

.restaurant-cartes
{
	.h4
	{
		margin-top: 1rem;
		text-align: center;
		font-size: 1.2rem;
		letter-spacing: 0.3rem;
	}
}

.moveOrderButton
{
	padding: 1rem;
	height: 100%;
	background-color: pink;
	&:hover
	{
		cursor: grab;
	}
}

.carteImg
{
	position: absolute;
	top: 3px;
	left: 3px;
	width: auto;
	background-color: rgba(255, 255, 255, 0.7);
}

.btn_delete
{
	border-radius: 50%;
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	width: 48px;
	height: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #a10d0d;
}