.hidden
{
	opacity: 0;
	pointer-events: none;
}
.displayNone
{
	display: none!important;
}
.underline, .aboveline
{
	margin: 1rem 0;
	padding-bottom: 1rem;
	position: relative;
	&::before
	{
		content: "";
		position: absolute;
		left: 33%;
		width: 33%;
		height: 2px;
		background-color: $main-color;
	}
}
.underline
{
	&::before
	{
		bottom: 0;
	}
}
.aboveline
{
	&::before
	{
		top: 0;
	}
}
.selected
{
	background-color: $second-color;
}