.readMore-container
{
	max-width: $mainCtnr-maxWidth;
	position: relative;
	min-height: 330px;
	text-align: center;
	.readMore-content
	{
		margin: 0;
		padding: 0 1rem;
		max-height: 0;
		height: 100%;
		overflow: hidden;
		text-align: left;
		transition: max-height 0.5s;
	}
	.openCarteButton
	{
		opacity: 0;
		position: absolute;
		top: 0;
		left: 50%;
		height: 100%;
		width: 100%;
		z-index: 0;
		transform: translateX(-50%);
		&:hover
		{
			cursor: pointer;
		}
	}
	.openCarteButton:checked ~ .readMore-content
	{
		max-height: 25000px;
	}
	img
	{
		border: 3px solid transparent;
		transition: border-color 0.2s;
	}
	.openCarteButton:hover
	{
		& ~ img
		{
			border-color: $mainHover-color;
		}
	}
	ul
	{
		margin-bottom: 2rem;
	}
	li
	{
		margin-top: 1.5rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}
	.plat
	{
		font-weight: bold;
	}
	.platCompo
	{
		margin-top: 0.5rem;
		width: 100%;
		color: $font-colorDark;
	}
	.dots
	{
		margin: 0 1rem;
		border-bottom: 2px dotted $font-colorLight;
		flex: 1;
	}
	.prix
	{
		font-weight: bold;
		color: $mainHover-color;
	}
}

 @media screen and (max-width: 880px)
{
	li
	{
		flex-direction: column;
	}	
	.plat, .platCompo
	{
		text-align: center;
	}
	.platCompo
	{
		order: 1;
	}
	.prix
	{
		margin-top: 0.5rem;
		order: 2;
	}
}