.readMore-container
{
	margin: 0 auto;
	max-width: $mainCtnr-maxWidth;
	position: relative;
	text-align: center;
	.readMore-content
	{
		margin: 0;
		max-height: 0;
		height: 100%;
		overflow: hidden;
		text-align: left;
		transition: max-height .3s;
	}
	input
	{
		opacity: 0;
		position: absolute;
		top: 0;
		left: 50%;
		height: 100%;
		width: 100%;
		z-index: 0;
		transform: translateX(-50%);
		&:hover
		{
			cursor: pointer;
		}
	}
	input:checked ~ .readMore-content
	{
		max-height: 2000px;
	}
	li
	{
		margin-top: 1rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		&:last-child
		{
			margin-bottom: 2rem;
		}
	}
	img
	{
		width: 100%;
		height: auto;
	}
	h3
	{
		margin-top: 1rem;
		font-size: 1.4rem;
		letter-spacing: 0.3rem;
		text-align: center;
	}
	.plat
	{
		font-weight: bold;
	}
	.platCompo
	{
		width: 100%;
		color: $font-colorDark;
	}
	.dots
	{
		margin: 0 1rem;
		border-bottom: 2px dotted $font-colorLight;
		flex: 1;
	}
	.prix
	{
		font-weight: bold;
		color: $mainHover-color;
	}
}

 @media screen and (max-width: 880px)
{
	li
	{
		flex-direction: column;
	}	
	.plat, .platCompo
	{
		text-align: center;
	}
}