section
{
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	& > div, & > h1, & > h2, & > p,
	{
		padding-left: $mainCtnr-margin;
		padding-right: $mainCtnr-margin;
		max-width: $mainCtnr-maxWidth;
	}
	div
	{
		margin: 1rem;
	}
	&:nth-child(2n+1)
	{
		background-color: $section-bgColor;
		div
		{
			p
			{
				color: $font-colorLight;
			}
		}
		h3, h2, & > p
		{	
			color: $font-colorLighter;
		}
	}
	&:nth-child(2n)
	{
		& > p
		{
			color: $font-colorDarker;
		}
		div
		{
			p
			{
				color: $font-colorDark;
			}
		}
	}
}
.home-intro
{
	color: white;
	background: url("../img/home_terrasse.jpg");
	background-size: cover;
    background-attachment: fixed;
    background-position: center;
    z-index: 0;
    h1
    {
    	padding: $mainCtnr-margin;
    	text-align: center;
    	background-color: rgba(0, 0, 0, 0.5);
    }
    div
    {
    	width: 100%;
    	display: flex;
    	flex-wrap: wrap;
    	justify-content: center;
    	align-items: center;
    }
    a
    {
    	margin: $mainButton-spaceBetween;
    	&:last-child
    	{
    		background-color: $second-color;
    		&:hover
    		{
    			background-color: $secondHover-color;
    		}
    	}
    }
}
.home-cafeResto
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	div
	{
		max-width: 250px;
		text-align: center;
		img
		{
			border: 10px solid grey;
			border-radius: 50%;
			width: 125px;
			height: 125px;
			transition: all 0.3s;
			&:hover
			{
				cursor: pointer;
			}
		}
		&:first-child
		{
			img
			{
				&:hover
				{
					border-color: $mainHover-color;
				}
			}
		}
		&:last-child
		{
			h3
			{
				&:before
				{
					background-color: $second-color;
				}
			}
			img
			{
				&:hover
				{
					border-color: $second-color;
				}
			}
		}
	}
}
.home-presentation
{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	div
	{
		flex: 1;
	}
}
section
{
	&:nth-child(2n+1)
	{
		.big-Parag
		{
			font-size: 3.75rem;
			line-height: 5rem;
			text-align: right;
			color: $font-colorLighter;
			font-family: $main-fontFam;
			font-weight: lighter;
		}
	}
}
.home_activities
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	h3, p
	{
		text-align: center;
	}
	& > div
	{
		&:nth-child(2)
		{
			h3
			{
				&::before
				{
					background-color: $second-color;
				}
			}
		}
		&:nth-child(3)
		{
			h3
			{
				&::before
				{
					background-color: $third-color;
				}
			}
		}
		&:nth-child(4)
		{
			h3
			{
				&::before
				{
					background-color: $fourth-color;
				}
			}
		}
	}
	a
	{
		margin: 0 auto;
		border: 1px solid $main-color;
		padding: 0.2rem;
		display: inline-block;
		color: $main-color;
		text-decoration: none;
		font-weight: bold;
		transition: border-color 0.3s, color 0.3s;
		&:hover
		{
			border-color: $mainHover-color;
			color: $mainHover-color;
		}
	}
	img
	{
		width: 174px;
		height: 174px;
	}
	.description
	{
		border-radius: 4px;
		padding: 0.5rem;
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		opacity: 0;
		max-height: 0;
		height: 100%;
		width: 100%;
		color: $font-colorLighter;
		background-color: $font-colorDarker;
		transition: max-height 0.3s, opacity 1s;
	}
	& > div
	{
		flex: 1;
		text-align: center;
		& > div
		{
			margin: 0;
			position: relative;
			&:hover
			{
				.description
				{
					opacity: 1;
					max-height: 174px;
				}
			}
		}
	}
}
.home_form
{
	img
	{
		margin: 0 $mainCtnr-margin 2rem;
		width: 256px;
		max-width: calc(100vw - 2rem);
	}
}
 @media screen and (max-width: 880px)
{
	section
	{
		padding-top: 2rem;
		padding-bottom: 2rem;
	}
	h3, p
	{
		text-align: center;
	}
	.home-intro
	{
		position: relative;
		z-index: 1;
	}
	.home-presentation
	{
		flex-direction: column;
	}
	section
	{
		&:nth-child(2n+1)
		{
			.big-Parag
			{
				font-size: 2.75rem;
				line-height: 3rem;
				text-align: center;
			}
		}
	}
}