// COMMON PAGES -->
section
{
	padding: 2rem 1rem;
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	& > p
	{
		margin-bottom: 0;
		text-align: center;
		font-size: 1.2rem;
		line-height: 1.7rem;
	}
	& > div, & > h1, & > h2, & > p
	{
		max-width: $mainCtnr-maxWidth;
		width: 100%;
	}
	div
	{
		margin: 1rem;
	}
	&:nth-of-type(2n+1)
	{
		background-color: $section-bgColor;
		div
		{
			p
			{
				color: $font-colorLight;
			}
		}
		h3, h2, & > p
		{	
			color: $font-colorLighter;
		}
	}
	&:nth-of-type(2n)
	{
		background-color: $font-colorLighter;
		& > p
		{
			color: $font-colorDarker;
		}
		div
		{
			p
			{
				color: $font-colorDark;
			}
		}
	}
	&:nth-of-type(1)
	{
		div
		{
			p
			{
				text-align: center;
				font-size: 1.1rem;
				color: $font-colorLighter;
			}
		}
	}
}
.bg-image
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	z-index: -1;
}
// HOME PAGE -->
section.home-intro
{
	background-color: transparent;
}
.home-intro
{
    h1
    {
    	padding: $mainCtnr-margin;
    	text-align: center;
    	background-color: rgba(0, 0, 0, 0.5);
    }
    div
    {
    	width: 100%;
    	display: flex;
    	flex-wrap: wrap;
    	justify-content: center;
    	align-items: center;
    }
    a
    {
    	margin: $mainButton-spaceBetween;
    	&:last-child
    	{
    		background-color: $second-color;
    		&:hover
    		{
    			background-color: $secondHover-color;
    		}
    	}
    }
}
.home-cafeResto
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	div
	{
		max-width: 250px;
		text-align: center;
		img
		{
			border: 10px solid grey;
			border-radius: 50%;
			width: 125px;
			height: 125px;
			transition: all 0.3s;
			&:hover
			{
				cursor: pointer;
			}
		}
		&:first-child
		{
			img
			{
				&:hover
				{
					border-color: $mainHover-color;
				}
			}
		}
		&:last-child
		{
			h3
			{
				&:before
				{
					background-color: $second-color;
				}
			}
			img
			{
				&:hover
				{
					border-color: $second-color;
				}
			}
		}
	}
	h3
	{
		text-align: center;
	}
}
.home-presentation
{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	div
	{
		flex: 1;
	}
	h3
	{
		margin-top: 0;
	}
}
section
{
	&:nth-child(2n+1)
	{
		.big-Parag
		{
			font-size: 3.75rem;
			line-height: 5rem;
			text-align: right;
			color: $font-colorLighter;
			font-family: $main-fontFam;
			font-weight: lighter;
		}
	}
}
.home_activities
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	h3, p
	{
		text-align: center;
	}
	& > div
	{
		&:nth-child(2)
		{
			h3
			{
				&::before
				{
					background-color: $second-color;
				}
			}
		}
		&:nth-child(3)
		{
			h3
			{
				&::before
				{
					background-color: $third-color;
				}
			}
		}
		&:nth-child(4)
		{
			h3
			{
				&::before
				{
					background-color: $fourth-color;
				}
			}
		}
	}
	a
	{
		margin: 0 auto;
		border: 1px solid $main-color;
		padding: 0.2rem;
		display: inline-block;
		color: $main-color;
		text-decoration: none;
		font-weight: bold;
		transition: border-color 0.3s, color 0.3s;
		&:hover
		{
			border-color: $mainHover-color;
			color: $mainHover-color;
		}
	}
	img
	{
		width: 174px;
		height: 174px;
	}
	.description
	{
		border-radius: 4px;
		padding: 0.5rem;
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		opacity: 0;
		max-height: 0;
		height: 100%;
		width: 100%;
		color: $font-colorLighter;
		background-color: $font-colorDarker;
		transition: max-height 0.3s, opacity 1s;
	}
	& > div
	{
		flex: 1;
		text-align: center;
		& > div
		{
			margin: 0;
			position: relative;
			&:hover
			{
				.description
				{
					opacity: 1;
					max-height: 174px;
				}
			}
		}
	}
}
.home_form
{
	img
	{
		margin: 0 $mainCtnr-margin 2rem;
		width: 256px;
		max-width: calc(100vw - 2rem);
	}
}

// RESTAURANT PAGE -->
.restaurant-intro
{
	margin-top: $header-middleHeight;
	min-height: calc(100vh - #{$header-middleHeight});
	position: relative;
	justify-content: flex-start;
	z-index: 0;
	h1, h2
	{
		margin: 1rem 0 0.5rem;
	}
	& > div
	{
		margin: 0;
		&:last-child
		{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			flex: 1;
			p
			{

			}
		}
	}
	p
	{
		line-height: 1.5rem;
		font-weight: lighter;
	}
}
.restaurant-cartes
{
	div
	{
		margin: 0;
	}
	& > p
	{
		text-align: left;
	}
	p
	{
		margin-bottom: 0;
	}
	h2
	{
		text-align: left;
	}
	h4
	{
		margin-top: 1rem;
		text-align: center;
		font-size: 1.2rem;
		letter-spacing: 0.3rem;
	}
	img
	{
		border: 3px solid transparent;
		width: 100%;
		height: 330px;
		object-fit: cover;
		max-width: $mainCtnr-maxWidth;
		transition: border-color 0.2s;
	}
	a
	{
		img
		{
			&:hover
			{
				border-color: $mainHover-color;
			}
		}
	}
	a.btn
	{
		margin-top: 1.5rem;
		width: initial;
	}
}

// CAFE-BAR PAGE -->
.cafe-intro
{
	h1
	{
		margin-top: 2rem;
	}
	ul
	{
		text-align: center;
	}
	li
	{
		color: $font-colorLighter;
		list-style: none;
		font-family: $main-fontFam;
		line-height: 1.5rem;
	}
	p
	{
		margin-bottom: 1rem;
	}
}
.cafe-cartes
{
	& > p
	{
		text-align: left;
	}
}
.cafe-chouffes
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	h3
	{
		margin: 1.5rem 0 1rem;
		width: 100%;
	}
	div
	{
		margin: 0 1rem 0 0;
		flex: 1;
	}
	img
	{
		width: 400px;
		height: auto;
		object-fit: cover;
	}
	p
	{
		margin-bottom: 1rem;
		color: $font-colorDarker!important;
		font-weight: normal;
	}
}

// BEER DISCOVERY PROJECT -->
section.beerproject-intro
{
	background-color: transparent;
    & > div
    {
    	width: 100%;
    	display: flex;
    	flex-wrap: wrap;
    	justify-content: center;
    	align-items: center;
    	background-color: rgba(0, 0, 0, 0.5);
    }
    h1
    {
    	padding: $mainCtnr-margin;
    }
}
.beerproject-editions
{
	h2
	{
		margin-bottom: 2rem;
		text-align: left;
	}
	h3
	{
		margin-top: 0;
		margin-bottom: 2rem;
	}
	div
	{
		margin-left: 0;
		margin-right: 0;
	}
	& > div
	{
		margin: 0;
		padding: 2rem 2rem 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;
		box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.75);
	}
}
.beerproject-brasserie
{
	margin-top: 0;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-width: 400px;
	flex: 1;
	max-width: 33%;
	img
	{
		border-radius: 0.5rem;
		width: 150px;
		height: 150px;
	}
	div
	{
		padding-top: 1rem;
		min-height: 150px;
		width: 100%;
	}
	h4, p
	{
		margin-bottom: 0.5rem;
		padding-left: 1rem;	
		padding-right: 1rem;
		text-align: center;
	}
	.aboveline
	{
		&:before
		{
			left: 25%;
			width: 50%;
			background-color: $third-color;
		}
	}
}

// AGENDA -->
.agenda-event
{
	img
	{
		width: 200px;
		height: 200px;
		object-fit: cover;
		//object-position: center bottom;
	}
	p
	{
		text-align: left;
	}
}

// CONTACT -->
.contact-intro
{
	h1
	{
		width: 100%;
	}
	ul, p
	{
		color: $font-colorLighter;
	}
	ul
	{
		list-style: none;
		font-family: $main-fontFam;
		text-align: center;
		font-weight: lighter;
	}
	& > div
	{
		&:last-child
		{
			flex-direction: row;
			flex-wrap: wrap;
			div
			{
				margin: 0;
				width: 100%;
				flex: 1;
			}
		}
	}
	iframe
	{
		width: 100%;
	}
}
.contact-form
{
	form
	{
		width: 100%;
		max-width: 450px;
	}
	legend
	{
		width: 100%;
		color: $font-colorDarker;
	}
	label
	{
		color: $font-colorDark;
	}
	input[type="text"], input[type="email"], textarea
	{
		background-color: $section-bgColor;
		color: $font-colorLighter;
	}
	textarea
	{
		height: 200px;
		width: 100%;
		resize: none;
	}
	input.btn
	{
		margin-top: 1rem;
	}
}

@media screen and (max-width: 1295px)
{
	.beerproject-editions
	{
		padding-left: 0;
		padding-right: 0;
		h2, h3
		{
			text-align: center;
		}
		& > div
		{
			justify-content: space-around;
			&:last-child
			{
				box-shadow: none;
			}
		}
	}
}
@media screen and (max-width: 1010px)
{
	.restaurant-intro
	{
		margin-top: $header-bigHeight;
		min-height: calc(100vh - #{$header-bigHeight});
	}
}

@media screen and (max-width: 996px)
{
	.home-intro
	{
		position: relative;
	}
	.restaurant-intro
	{
		margin-top: 0;
		padding-top: 0;
		min-height: calc(100vh - #{$header-smallHeight});
	}
}

@media screen and (max-width: 880px)
{
	section
	{
		padding-top: 2rem;
		padding-bottom: 2rem;
		&:nth-child(2n+1)
		{
			.big-Parag
			{
				font-size: 2.75rem;
				line-height: 3rem;
				text-align: center;
			}
		}
		div
		{
			margin: 1rem 0;
		}
	}
	h3, p
	{
		text-align: center;
	}

	.home-presentation
	{
		flex-direction: column;
	}
	.restaurant-cartes
	{
		h2, h3, h4, p
		{
			text-align: center;
		}
		img
		{
			height: 200px;
		}
	}
	.cafe-chouffes
	{
		flex-direction: column;
		flex-wrap: nowrap;
		div
		{
			order: 2;
		}
		img
		{
			margin-bottom: 1rem;
			border-radius: 50%;
			width: 200px;
			height: 200px;
			order: 1;
		}
	}
	.beerproject-brasserie
	{
		max-width: none;
		p
		{
			padding-left: 0;
			padding-right: 0;
			text-align: center;
		}
	}
	.contact-intro
	{
		h1
		{
			margin: 2rem 0;
		}
		& > div
		{

			&:last-child
			{
				flex-direction: column;
				div:first-of-type
				{
					order: 2;
				}
				div:last-of-type
				{
					order: 1;
				}
			}
		}
	}
}
@media screen and (max-width: 450px)
{
	.beerproject-brasserie
	{
		min-width: 240px;
	}
}