html, body, header, nav, footer, section, div, span, h1, h2, h3, h4, h5, h6, p, a, blockquote, cite, img, ol, ul, li, form, fieldset, legend, label, input, button
{
	margin: 0;
	border: none;
	padding: 0;
	box-sizing: border-box;
}
html
{
	max-width: 100vw;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: $mainText-fontSize;
}
body
{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	overflow-x: hidden;
}
#main
{
	max-width: 100vw;
	width: 100%;
	flex: 1;
}
h1
{
	color: white;
}
h1, h2, legend
{
    font-family: $title-fontFam;
    text-transform: uppercase;
    text-align: center;
}
h2, h3
{
    color: $font-colorDarker;
}
h3, h4, h5, h6
{
	text-transform: uppercase;
	font-weight: bold;
}
h1
{
	font-size: 3.5rem
}
h2
{
	font-size: 2rem;
}
h3
{
	margin: 1.5rem auto 0.5rem;
	width: 100%;
	max-width: $mainCtnr-maxWidth;
	text-align: left;
	letter-spacing: 0.2rem;
	font-size: 1.2rem;
}
p, a, h3, h4, h5, h6, label, input, button, span, textarea
{
	font-family: $main-fontFam;
	overflow: hidden;
  	text-overflow: ellipsis; 
	hyphens: auto;
}
p
{
	margin-bottom: 2rem;
	line-height: 1.5rem;
}
a
{
	font-size: 1rem;
	color: $main-color;
	text-decoration: none;
	transition: color 0.3s;
	&:hover
	{
		color: $mainHover-color;
	}
}
form
{
	margin-left: $mainCtnr-margin;
	margin-right: $mainCtnr-margin;
}
fieldset
{
	border: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	p
	{
		margin-top: 1rem;
		margin-bottom: 1rem;
		color: $font-colorLight;
		text-align: center;
	}
}
legend
{
	font-size: 1.2rem;
	color: $font-colorLighter;
}
label
{
	margin-top: 1rem;
	margin-bottom: .2rem;
	text-align: center;
	color: $font-colorLight;
}
input
{
	padding: .5rem;
	width: 100%;
}
input[type="submit"]
{
	margin: 0 auto;
	width: inherit;
}
a.button, .btn
{
	border-radius: 0.2rem;
	padding: 1rem 1.5rem;
	text-decoration: none;
    text-transform: uppercase;
	color: white!important;
	background-color: $main-color;
	transition: background-color .3s!important;
	&:hover
	{
		cursor: pointer;
		background-color: $mainHover-color;
	}
}
button:focus
{
	outline:none;
}

@media screen and (max-width: 880px)
{
	h1
	{
		font-size: 2.5rem;
	}
}

@media screen and (max-width: 350px)
{
	h1
	{
		font-size: 2rem;
	}
	h2
	{
		font-size: 1.5rem;
	}
	h3
	{
		font-size: 1rem;
	}
}