// main container
$mainCtnr-maxWidth: 1280px;
$mainCtnr-margin: 1rem;

// buttons
$mainButton-size: 3rem;
$mainButton-spaceBetween: 0.5rem;
$mainButtonLink-fontFam: 'Lato', sans-serif;

// fonts
$title-fontFam: 'Montserrat', sans-serif;
$main-fontFam: 'Lato', sans-serif;
$mainText-fontSize: 16px;
$title-colorDark: #404040;
$title-colorLight: white;
$text-colorDark: #8f8f8f;

// colors
$main-color: #FC6D6D;
$mainHover-color: #cb4332;
$second-color: #1e9e6b;
$secondHover-color: #069059;
$third-color: #3ab0e2;
$fourth-color: #f7d861;

@mixin widthMaxContent
{
	width: intrinsic;
	width: -moz-max-content;
	width: -webkit-max-content;
}