.adminHeader {
  max-width: 1280px; }
  .adminHeader ul {
    display: flex;
    justify-content: center;
    list-style: none; }
    .adminHeader ul li {
      margin: 10px; }

.h4 {
  font-weight: bold;
  font-family: "Lato", sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  hyphens: auto; }

.recordChangesContainer {
  position: fixed;
  left: 50%;
  bottom: 0;
  max-width: 1280px;
  width: 100%;
  z-index: 10;
  transform: translate(-50%); }

.btn_carteDelete {
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
  background-color: #a10d0d;
  transition: background-color 0.3s; }
  .btn_carteDelete:hover {
    cursor: pointer;
    background-color: red; }

.adminMenuContainer {
  padding: 2px 2px 0 0;
  position: absolute;
  left: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 1280px;
  width: 100%;
  text-align: right;
  transform: translate(-50%); }
  .adminMenuContainer .btn_admin {
    padding: 0.2rem 0.7rem;
    font-size: 1rem; }

.restaurant-cartes .h3 {
  margin: 1.5rem auto 0.5rem;
  width: 100%;
  max-width: 1280px;
  text-align: left;
  letter-spacing: 0.2rem;
  font-size: 1.2rem;
  color: #404040;
  text-transform: uppercase;
  font-weight: bold; }
.restaurant-cartes .h4 {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: 0.3rem; }
.restaurant-cartes .familyContainer {
  margin-bottom: 1rem;
  border: 2px dotted black;
  padding: 1rem; }

.carteImg {
  position: absolute;
  top: 3px;
  left: 3px;
  width: auto;
  background-color: rgba(255, 255, 255, 0.7); }

.readMore-container {
  margin-bottom: 0.5rem !important;
  border: 1px dotted black; }
  .readMore-container .readMore-content ul {
    margin-bottom: 0.5rem; }

input.plat {
  width: auto;
  flex: 1; }

input.prix {
  max-width: 140px;
  text-align: center; }

.newPlat {
  border: 1px dotted grey; }

.addCarte_btnContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center; }
  .addCarte_btnContainer .radioFolder_container, .addCarte_btnContainer .radioLink_container {
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    .addCarte_btnContainer .radioFolder_container > span, .addCarte_btnContainer .radioLink_container > span {
      margin-right: 0.5rem;
      border: 1px solid black;
      border-radius: 50%;
      width: 48px;
      height: 48px;
      display: inline-flex;
      justify-content: center;
      align-items: center; }
    .addCarte_btnContainer .radioFolder_container .radioFolder, .addCarte_btnContainer .radioFolder_container .radioLink, .addCarte_btnContainer .radioLink_container .radioFolder, .addCarte_btnContainer .radioLink_container .radioLink {
      border-radius: 50%;
      width: 32px;
      height: 32px; }
  .addCarte_btnContainer .radio_selected .radioFolder, .addCarte_btnContainer .radio_selected .radioLink {
    background-color: #FC6D6D; }
  .addCarte_btnContainer .radioFolder_container:hover {
    cursor: pointer; }
    .addCarte_btnContainer .radioFolder_container:hover .radioFolder {
      background-color: #FC6D6D; }
  .addCarte_btnContainer .radioLink_container:hover {
    cursor: pointer; }
    .addCarte_btnContainer .radioLink_container:hover .radioLink {
      background-color: #FC6D6D; }

.readMore-container .cartePdf-content {
  max-height: none; }

.uploadPdf {
  width: auto; }

.uploadPdf-container {
  padding: 0.5rem;
  position: absolute;
  bottom: 0;
  left: 3px;
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.btn_platDelete {
  border: 1px solid black;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: white;
  font-weight: bold;
  background-color: #a10d0d;
  transition: background-color 0.3s; }
  .btn_platDelete:hover {
    cursor: pointer;
    background-color: red; }

.moveOrderButton {
  padding: 1rem;
  height: 100%;
  color: white;
  background-color: #1e9e6b; }
  .moveOrderButton:hover {
    cursor: grab; }

.btn_add, .moveOrderButton, .addCarte, .btn_addFam, .btn_import, .btn_addNewBrasserie, .btn_admin {
  border-radius: 0;
  background-color: #1e9e6b; }
  .btn_add:hover, .moveOrderButton:hover, .addCarte:hover, .btn_addFam:hover, .btn_import:hover, .btn_addNewBrasserie:hover, .btn_admin:hover {
    background-color: #069059; }

.btn_addFam {
  margin-top: 1.5rem;
  width: 100%; }

.restaurant-cartes .importCarte_btnContainer {
  margin-top: 0.5rem; }

.beerproject-brasserie {
  position: relative; }

.brasserieTitle, .brasserieDate, .brasserieBeers {
  border: 1px dotted black;
  text-align: center; }

.brasserieDate {
  margin-top: 0.5rem; }

.beerproject-brasserie p input {
  width: auto; }

.brasserieImgInput {
  text-align: center; }

textarea {
  border: 1px dotted black;
  padding: 0.5rem;
  min-width: 365px;
  max-width: 365px; }

.brasserieDate_open, .brasserieDate_close {
  border: 1px dotted black;
  text-align: center; }

.adminContainer {
  padding-bottom: 1rem;
  width: 100%;
  max-width: 1280px;
  text-align: center; }
  .adminContainer form {
    margin: 0 auto; }
  .adminContainer input {
    margin-bottom: 1rem; }

/*# sourceMappingURL=admin.css.map */
